# General
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/
env/
build/
dist/
*.egg-info/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/
dist/
.vercel

# Weaviate data (if local)
data/
pdfs/
